html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 16px;
}

* {
  font-family: "ContentFont";
  margin: 0;
  padding: 0;
  border: 0;
}

*[loading] {
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid white;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    z-index: 2;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

#login-iframe {
  position: fixed;
  width: 80vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid .5rem rgba(255, 255, 255, 0.5);
  border-radius: 3rem;
  box-shadow: var(--box-shadow);
}

:root {
  --color-primary: #337ecc;
  --color-primary-110: #2583e7;
  --color-second: #409EFF;
  --color-third: #a0cfff;
  --color-bg: #d9ecff;
  --color-bg-light: #ecf5ff;
  --color-bg-disable: #c8c9cc;
  --color-bg-success: #e1f3d8;
  --color-bg-warning: #faecd8;
  --color-bg-error: #fde2e2;
  --color-bg-message: #cedfff;


  --color-border-success: #d1edc4;
  --color-border-warning: #f8e3c5;
  --color-border-error: #fcd3d3;
  --color-border-message: #a8d4ff;


  --color-text-primary: #0049e7;
  --color-text-second: #303030;
  --color-text-white: #ffffff;
  --color-text-disable: #909399;
  --color-text-success: #67C23A;
  --color-text-warning: #E6A23C;
  --color-text-error: #F56C6C;
  --color-text-message: #095fce;

  --box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);
  --box-shadow-dark: 0px 0px 12px rgba(0, 0, 0, .22);
  --text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  --text-shadow-light: 3px 3px 2px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-bg-light);
}

/*定义滚动条轨道：内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: var(--color-bg-light);
}

/*定义滑块：内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-bg);
}

.loading {
  &:after {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .55);
  }
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.el-dialog {
  border-radius: 10px !important;
}